@import 'color.scss';

.navbar {
  background: $navbar-bg;
  height: 92px;
  box-shadow: 0 3px 6px 0 #000;
  >div {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    .g {
      color: #fff;
      font-size: 54px;
    }
    .play {
      font-size: 45px;
      color: $navbar-bg;
      background: $logo-blue;
      border-radius: 5px;
      margin-left: 10px;
      padding: 2px 10px 8px;
      line-height: 1;
    }
  }
  .navbar-nav {
    a {
      font-weight: bold;
      font-size: 20px;
    }
  }
}