@import '../../theme';
@import '../../color';

.create-room-modal {
  .modal-container {
    width: 400px;
  }
  .MuiFormControl-root {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn-create {
    width: 100%;
  }
}