@import './color';

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $second;
  &:hover {
    background-color: $second-hover;
  }
}

.grey-4 {
  background-color: $grey-4;
  &:hover {
    background-color: $grey-4-hover;
  }
}

.outline {
  border: 2px solid;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 5px;
}

.button:disabled {
  background-color: #505050;
  color: #898989;
  pointer-events: none;
}
