@import './color';

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $second;
  &:hover {
    background-color: #4897ba;
  }
}

.grey-4 {
  background-color: $grey-4;
  &:hover {
    background-color: #333333;
  }
}

.outline {
  border: 2px solid;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 5px;
}
