@import '../color';

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    fill: $white;
    width: 20px;
    height: 20px;
  }
  .label {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 400;
  }
}
