$primary: #121314;
$second: #57A5C7;

$success: #72BE52;
$info: #5796C7;
$warning: #DEB56F;
$error: #DE6F6F;

$grey-5: #1D1D1D;
$grey-4: #4B4B4B;
$grey-3: #6D6D6D;
$grey-2: #919191;
$grey-1: #CCCCCC;
$white: #fff;
$black: #000;

// $body-black: #121314;
// $navbar-bg: #1d1d1d;
// $logo-blue: #57a5c7;
// $title-gray: #808080;
// $bullet-gray: #747474;
// $light-gray: #e3e3e3;
// $star-yellow: #ffd72c;
// $button-yellow: #d9b335;
// $dark-yellow: #8a754d;

// $modal-bg: rgba(29, 33, 36, 0.95);
// $modal-border: #707070;

// $input-gray: #555;
// $input-placeholder: #8c8c8c;

// $room-list-title: #9a9a9a;
// $room-list-content-bg: #0c0d0d;
// $room-bg: #64584b;
// $room-border: #898075;
// $room-title-bg: #342f29;

// $basic-white: #fff;
// $basic-black: #000;
