$primary: #121314;
$second: #57A5C7;

$success: #72BE52;
$info: #5796C7;
$warning: #DEB56F;
$error: #DE6F6F;

$grey-5: #1D1D1D;
$grey-4: #3B3B3B;
$grey-3: #6D6D6D;
$grey-2: #919191;
$grey-1: #CCCCCC;
$grey-0: #878787;

$white: #fff;
$black: #000;

$brown: #64584B;
$dark-brown: #342F29;
$dark-green: #398047;
