$primary: #121314;
$second: #57a5c7;
$second-hover: #4897ba;

$success: #72be52;
$info: #5796c7;
$warning: #deb56f;
$warning-hover: #b9975d;
$dark-warning: #e2c138;
$error: #de6f6f;

$grey-5: #1d1d1d;
$grey-4: #3b3b3b;
$grey-4-hover: #333333;
$grey-3: #6d6d6d;
$grey-2: #919191;
$grey-1: #cccccc;
$grey-0: #878787;

$white: #fff;
$black: #000;

$brown: #64584b;
$brown-hover: #80664a;
$dark-brown: #342f29;
$dark-green: #398047;

$input-bg: #555555;
$input-placeholder: #8c8c8c;
