@import "./color";

html,
body {
  height: 100%;
}

.header {
  width: 100%;
  margin-bottom: 10px;
}

.page-title {
  color: $white;
  font-size: 28px;
  border-bottom: 1px solid $grey-3;
  position: relative;
  padding-bottom: 10px;
  font-weight: 400;
  &:after {
    content: "";
    position: absolute;
    height: 1px;
    background: $grey-3;
    width: 100%;
    left: 0;
    bottom: -4px;
  }
}
