@import '../color';

.footer {
  .slogan {
    padding: 16px;
    text-align: center;
    background-color: $navbar-bg;
    svg {
      margin-right: 10px;
    }
  }
  .copyright {
    text-align: center;
    color: $title-gray;
    font-size: 13px;
    padding: 10px;
  }
}