@import '../color';

.roomList {
  color: $basic-white;
  .block {
    box-shadow: 0 0 8px 0 $basic-black;
    border: solid 1px $modal-border;
    background-color: $navbar-bg;
    padding: 20px;
    margin-bottom: 30px;
  }
  .rooms {
    min-height: 500px;
    background-color: $room-list-content-bg;
    padding: 5px;
  }
  .chat {
    min-height: 100px;
    background-color: $room-list-content-bg;
  }
  .playerList {
    min-height: 698px;
    background-color: $room-list-content-bg;
  }
}
