@import '../color';

.room {
  color: $basic-white;
  padding: 10px;
  border: 1px solid $room-border;
  background: $room-bg;
  margin-bottom: 10px;
  border-radius: 5px;
  .top {
    background-color: $room-title-bg;
    padding: 5px 14px;
    border-radius: 3px;
    margin-bottom: 10px;
    .key {
      color: $star-yellow;
    }
  }
  .status {
    flex: 2;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 5px;
    display: flex;
    align-items: center;
  }
  .mode, .players {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-radius: 3px;
    background-color: $room-title-bg;
    margin-right: 5px;
  }
  button {
    flex: 1;
  }
}
