@import '../color';

.chat {
  color: $basic-white;
}

.textArea {
  min-height: 100px;
  background-color: $room-list-content-bg;
}
.textField {
  background-color: $basic-white;
  border-radius: 5px 0 0 5px;
}
