@import '../color';

.gameDetail {
  color: $basic-white;
  .gameName {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .description {
    font-size: 22px;
    margin-bottom: 36px;
  }
  .icon {
    margin-right: 5px;
  }
  .info {
    margin-bottom: 20px;
  }
}