@import '../color';

.header {
  background-color: $navbar-bg !important;
  box-shadow: 0 3px 6px 0 $basic-black;
}

.toolbar {
  padding: 0 !important;
}

.link {
  margin: 0 20px;
  color: $basic-white;
  position: relative;
}

.logo {
  flex-grow: 1;
  a {
    text-decoration: none;
    padding-bottom: 10px;
  }
  .link-logo {
    margin-right: 40px;
    padding-bottom: 0;
  }
  .g {
    color: $basic-white;
    font-size: 30px;
  }
  .play {
    font-size: 28px;
    color: $navbar-bg;
    background: $logo-blue;
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px;
    line-height: 1;
    letter-spacing: 1.5px;
  }
}

.active::after {
  content: "";
  border: 2px solid #57a5c7;
  width: 90%;
  left: 0;
  bottom: -5px;
  position: absolute;
  background: aqua;
}

.image {
  width: 46px;
  height: 46px;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
}

.user-info {
  .name {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .level {
    font-size: 14px;
    color: #CCCCCC;
  }
}
