@import '../color';

.userList {
  color: $basic-white;
  min-height: 500px;
  background-color: $room-list-content-bg;
  padding: 5px;
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user {
    color: $basic-white;
    padding: 10px;
    border: 1px solid $room-border;
    background: $room-bg;
    border-radius: 5px;
    .name {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .master, .isReady {
      letter-spacing: 1px;
      background-color: $room-title-bg;
      padding: 10px;
      border-radius: 5px;
      font-size: 20px;
      text-align: center;
      .text {
        margin-left: 10px;
      }
    }
    .notReady {
      color: #838383;
    }
    .ready {
      color: #fffa4c;
    }
  }
}
