@import '../../theme';

button {
  background: none;
  color: $basic-white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid $basic-white;
  padding: 2px 26px;
  margin-top: 23px;
  transition: transform .3s;
  &:hover {
    text-shadow: 0 0 5px $basic-white;
    transform: scale(1.1);
  }
}