@import '../color';

.container {
  border: 2px solid #b3a6a6;
}

.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

.mapItem {
  width: calc(100% / 8);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #867d72;
  background: #cbaa89;
}

.isSelected {
  border: 2px solid #be1010;
}

.chess {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 3px solid #eee;
  border-radius: 50px;
  background-color: #6eb47e;
  font-family: '標楷體';
  cursor: pointer;
  box-shadow: 0 6px 1px #dadada;
  position: absolute;
  transition: all .2s;
  &:hover {
    background-color: #4da862;;
  }
}

.isFlipped {
  background-color: #fff;
  &:hover {
    background-color: #ccc;
  }
}

.sideRed {
  color: #be1010;
  &::before {
    content: "";
    border: 1.5px solid #be1010;;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -1px;
  }
}

.sideBlack {
  color: black;
  &::before {
    content: "";
    border: 1.5px solid black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -1px;
  }
}

.standard {
  width: calc(100% / 9);
  border: none;
  position: relative;
  min-height: 80px;
  &::before {
    content: "";
    width: 100%;
    border-bottom: 1px solid #867d72;
    position: absolute;
  }
  &::after {
    content: "";
    height: 100%;
    border-left: 1px solid #867d72;
  }
}

.standardChess {
  width: 60px;
  height: 60px;
  font-size: 32px;
}
