@import "./color";

.chatArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  letter-spacing: 2px;
  padding: 10px;
  .row {
    margin-bottom: 8px;
  }
  .countdown {
    color: $error;
  }
}

.inputArea {
  display: flex;
  flex: 0.2;
  width: 100%;
  div {
    flex: 1;
  }
}
