@import '../global.scss';

.roomListBlocks {
  background: $navbar-bg;
  border: 1px solid $modal-border;
  padding: 25px 40px 40px;
  .block-head {
    h2 {
      color: $room-list-title;
      font-size: 26px;
      font-style: italic;
      text-shadow: 3px 3px 3px #000;
    }
  }
  .block-content {
    background: $room-list-content-bg;
    border-radius: 6px;
    padding: 10px;
  }
}

.room-list-flex {
  display: flex;
  flex-wrap: wrap;
  div.room {
    width: calc(50% - 5px);
    background: $room-bg;
    border: 1px solid $room-border;
    border-radius: 5px;
    &:not(:nth-child(2n)) {
      margin-right: 10px;
    }
    svg {
      height: 20px;
    }
  }
}