@import '../theme';

#game {
  >.container {
    margin-top: 68px;
  }
  .main {
    padding: 30px 0 67px;
    img {
      box-shadow: 0 0 20px 0 #000000;
    }
    .game-info {
      h2, p, b, svg {
        color: #fff;
      }
      .game_title {
        font-size: 30px;
      }
      .game_stars {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        svg {
          height: 16px;
          margin-right: 3px;
          color: $star-yellow;
        }
        .points {
          color: $basic-white;
          font-size: 17px;
          padding-top: 2px;
          padding-left: 10px;
        }
      }
      .game_description {
        font-size: 22px;
        margin-bottom: 36px;
      }
      .counts {
        display: flex;
        margin-bottom: 40px;
        svg {
          height: 20px;
          margin-right: 8px;
        }
        >div:first-child {
          margin-right: 30px;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        button {
          padding: 7px 0;
          text-align: center;
          width: 48%;
          font-size: 22px;
          font-style: italic;
          border: 2px solid;
          transition: all .3s;
          &:hover {
            transform: scale(1.05, 1.05);
            box-shadow: 5px 5px 8px #000;
          }
          svg {
            height: 20px;
            margin-right: 10px;
          }
          &.new_room {
            border: 2px solid $logo-blue;
          }
          &.play_now {
            border: 1px solid #d9b335;
          }
        }
      }
      .back_to_home {
        display: flex;
        justify-content: flex-end;
        color: $basic-white;
        cursor: pointer;
        transition: all .3s;
        &:hover {
          opacity: .8;
        }
        svg {
          height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}