@import '../color';

.background-image {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: center;
  left: 0;
  width: 100%;
  z-index: -1;
}

.game-intro {
  margin-top: 60px;
  margin-bottom: 80px;
  .game-title {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    svg {
      margin-right: 20px;
    }
  }
  .game-description {
    font-size: 20px;
  }
}
