@import './fonts';
@import './color';

html {
  height: 100%;
}

body {
  background: $body-black;
  font-family: $core-font;
  padding: 0;
  margin: 0;
  color: $basic-white;
  height: 100%;
}

a {
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

.section-heading {
  h2 {
    color: $title-gray;
    font-size: 22px;
    border-bottom: 1px solid $title-gray;
    position: relative;
    padding-bottom: 10px;
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      background: $title-gray;
      width: 100%;
      left: 0;
      bottom: -4px;
    }
  }
}

.block {
  box-shadow: 0 0 8px 0 $basic-black;
  border: solid 1px $modal-border;
  background-color: $navbar-bg;
  padding: 60px 20px 20px 20px;
  margin-bottom: 30px;
  position: relative;
}
