@import './fonts';
@import './color';

body {
  background: $body-black;
  font-family: $core-font;
}
// h1, h2 {
//   font-weight: bold;
// }
a {
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
button, input {
  &:focus {
    outline: none;
  }
}
button {
  background: none;
}
.center { text-align: center; }
.main {margin-top: 30px;}
.lobby_box {
  position: relative;
  border-bottom: 1px solid $title-gray;
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: $title-gray;
    position: absolute;
    bottom: -4px;
  }
}
.section-heading {
  h2 {
    color: $title-gray;
    font-size: 22px;
    border-bottom: 1px solid $title-gray;
    position: relative;
    padding-bottom: 10px;
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      background: $title-gray;
      width: 100%;
      left: 0;
      bottom: -4px;
    }
  }
}
.swiper-button-next, .swiper-button-prev {
  background-image: none;
  top: 40%;
  &:after {
    content: "";
    width: 27px;
    height: 27px;
    border: solid #fff;
    display: block;
    transform: rotate(45deg);
  }
}
.swiper-button-next {
  right: -45px;
  &:after {
    border-width: 4px 4px 0 0;
  }
}
.swiper-button-prev {
  left: -55px;
  &:after {
    border-width: 0 0 4px 4px;
  }
}
.swiper-pagination-bullets {
  position: unset;
  text-align: center;
  width: 100%!important;
  transform: none!important;
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: $bullet-gray;
    &.swiper-pagination-bullet-active {
      border: 3px solid $light-gray;
      width: 20px;
      height: 20px;
    }
  }
}