@import './fonts';
@import './color';

html {
  height: 100%;
}

body {
  background: $body-black;
  font-family: $core-font;
  padding: 0;
  margin: 0;
  color: $basic-white;
  height: 100%;
}

a {
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}

.section-heading {
  h2 {
    color: $title-gray;
    font-size: 22px;
    border-bottom: 1px solid $title-gray;
    position: relative;
    padding-bottom: 10px;
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      background: $title-gray;
      width: 100%;
      left: 0;
      bottom: -4px;
    }
  }
}

.block {
  box-shadow: 0 0 8px 0 $basic-black;
  border: solid 1px $modal-border;
  background-color: $navbar-bg;
  padding: 20px;
  margin-bottom: 30px;
}

// .swiper-button-next, .swiper-button-prev {
//   background-image: none;
//   top: 40%;
//   &:after {
//     content: "";
//     width: 27px;
//     height: 27px;
//     border: solid #fff;
//     display: block;
//     transform: rotate(45deg);
//   }
// }
// .swiper-button-next {
//   right: -45px;
//   &:after {
//     border-width: 4px 4px 0 0;
//   }
// }
// .swiper-button-prev {
//   left: -55px;
//   &:after {
//     border-width: 0 0 4px 4px;
//   }
// }
// .swiper-pagination-bullets {
//   position: unset;
//   text-align: center;
//   width: 100%!important;
//   transform: none!important;
//   .swiper-pagination-bullet {
//     width: 14px;
//     height: 14px;
//     background: $bullet-gray;
//     &.swiper-pagination-bullet-active {
//       border: 3px solid $light-gray;
//       width: 20px;
//       height: 20px;
//     }
//   }
// }
