@import 'color';

.GamePlayButton {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  transition: all .3s;
  &.thick-blue {
    border: 2px solid $logo-blue;
  }
  &.thin-blue {
    border: 1px solid $logo-blue;
  }
  &.thick-yellow {
    border: 2px solid $button-yellow;
  }
  &.thin-yellow {
    border: 1px solid $button-yellow;
  }
  &:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 8px #000;
  }
}