@import './color.scss';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', 'Microsoft JhengHei';
  background: -webkit-linear-gradient($primary, #1a3343);
  background: -o-linear-gradient($primary, #1a3343);
  background: -moz-linear-gradient($primary, #1a3343);
  background: linear-gradient($primary, #1a3343);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $second;
  height: 100%;
}